
.oo{
  display:none;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display:flex; /* Используем flexbox для горизонтального расположения */
  flex: wrap;
  background-color: black;
  padding: 10px; /* Отступы для меню */
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 15px 25px; 
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #333; 
}

.menu-item.active {
  background-color: green; 
}

.gfg {
  margin-left: 20px; /* Сдвигаем основной текст влево */
  margin-right: 20px; /* Добавляем отступ справа для симметрии */
}
.card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}

.card__title:hover {
  color: #d4ea0a;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 1px solid #d7da0a;
  background-color: #ffff33;
  color: #fff;
}

.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 30px; /* Отступ между колонками */
  row-gap: 40px; /* Отступ между рядами */
  margin: 0 auto;

}


.container {
  width: 80%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 20px;
}


.menu {
  background-color: #0c0000;
  padding: 10px;
  display: flex; /* Используем Flexbox для управления элементами */
  justify-content: space-around; /* Равномерно распределяем элементы по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.menu-item {
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #e5f10d;
  border: 1px solid transparent; /* Добавляем границу для визуальной разметки */
  border-radius: 5px; /* Скругление углов */
  transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}

.menu-item:hover {
  background-color: #252424; /* Цвет фона при наведении */
}

.menu-item img {
  vertical-align: middle; /* Вертикальное выравнивание картинки */
}


/* Media query для маленьких экранов */
@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Меняем направление flex-элементов на столбец */
    align-items: center; /* Выравниваем элементы по центру */
  }
  .menu-item{
    width: 100%; /* Растягиваем элементы на всю ширину контейнера */
    box-sizing: border-box; /*чтобы отступы не влияли на общую ширину*/
  }
}
body {
  font-family: sans-serif;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column; /* Элементы формы выстраиваются вертикально */
  width: 80%;
  max-width: 500px; /* Максимальная ширина формы */
  margin: 0 auto; /* Центрирование формы */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Занимает всю ширину контейнера */
  box-sizing: border-box; /* Учитываем padding и border при расчете ширины */
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}

/* Media query для меньших экранов */
@media (max-width: 500px) {
  form {
    width: 95%; /* Занимает почти всю ширину экрана */
  }
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.passport-container {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: space-around; /* Распределение элементов */
  margin-bottom: 20px;
}

.passport-image {
  width: 110px;
  margin: 10px;
  float: left; /* Важно для расположения изображения слева */
}

table {
  width: 100%; /* Таблица занимает всю ширину */
  border-collapse: collapse; /* Убираем пробелы между ячейками */
  margin: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.latin-translation {
    display: none; /* Скрываем по умолчанию */
}

/* Media queries */
@media (max-width: 768px) {
  .passport-container {
    flex-direction: column; /* Элементы выстраиваются вертикально */
    align-items: center; /* Выравнивание по центру */
  }

  .passport-image {
    float: none; /* Убираем float на маленьких экранах */
    margin-bottom: 10px; /* Добавляем отступ снизу */
    width: 80%; /* Расширяем картинку на всю ширину */
    max-width: 200px; /* Ограничиваем размер изображения */
  }
  table {
    width: auto; /* ширина таблицы будет меньше чем ширина экрана*/
  }}
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; /* Добавляем горизонтальную полосу прокрутки */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.table-container {
  overflow: auto; /* Включает прокрутку, если содержимое превышает размеры контейнера */
  border: 1px solid #ccc; /* Добавлено для наглядности */
}

table {
  width: 100%; /* Таблица занимает всю ширину контейнера */
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.button-style {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
img {
  max-width: 100%;
  height: auto; /* Автоматически устанавливает высоту, сохраняя пропорции */
  display: block; /* Убирает лишнее пространство снизу изображения */
}
